body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-image: linear-gradient(to left, tomato, orange);
  padding: 7px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 2px 0;
}
.navbar ul {
  text-align: right;
}
.navbar li {
  display: inline;
  list-style: none;
}
.navbar li a {
  align-items: center;
  padding: 10px 9px;
  margin: 10px 40px;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.short-color {
  color: orange;
}
.short-color-2 {
  color: #7a7474;
}
.link-btn {
  text-decoration: none;
  color: white;
  font-weight: 700;
  border-radius: 30px;
  background-image: linear-gradient(to left, #f13a02, #f8ae25);
  padding: 13px 35px;
  margin-top: 10px;
}
.main-container {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 0 10px;
  font-size: larger;
}

.half-dev {
  width: 50%;
  padding-left: 5%;
  line-height: 20px;
  margin: 70px 30px;
}
.half-dev img {
  width: 100%;
  
}
.sec-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/shapes/Frame\ 57.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding:0 10px ;
}
.second-half {
  width: 50%;
  padding-left: 5%;
  line-height: 20px;
  margin: 30px 10px;
 
}

#mid-sec div {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 60px 280px;
}
.card {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  width: 1150px;
  padding-left: 99px;
}
.card div {
  padding: 12px;
  margin-right: 28px;
  border-radius: 13px;
  border: 5px solid #f0eaead3;
  box-shadow: 3px 3px 3px 3px #e4e3e3;
}
.card div img {
  max-width: 100%;
  max-height: 100%;
  margin-left: 1px;
}
.follow-sec {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0 120px;
  border: 2px solid #f6f6f6;
  box-shadow: 3px 3px 3px 4px #dfdede;
  border-radius: 15px;
}
.follow-sec div {
  padding-right: 100px;
}
.follow-sec div h4 {
  font-weight: 700;
}

footer {
  background-color: #000000e3;
  color: white;
  text-align: center;
  padding: 12px;
  margin-top: 50px;
}
